./model/
./data/
dataset/train_data/uni_pair_combine
dataset/train_data/uni_pair_combine_less100
dataset/train_data/uni_pair_combine_less101
dataset/train_data/uni_pair_combine_less102
dataset/train_data/uni_pair_combine_less103
dataset/train_data/uni_pair_combine_less104
dataset/train_data/uni_pair_combine_less105
dataset/train_data/uni_pair_combine_less106
dataset/train_data/uni_pair_combine_less107
dataset/train_data/uni_pair_combine_less108
dataset/train_data/uni_pair_combine_less109
model/CBOW/wiki-db_more50_200
model/CBOW/wiki-db_more50_200.syn0.npy
model/CBOW/wiki-db_more50_200.syn1.npy
model/SG/wiki-db_more50_200
model/SG/wiki-db_more50_200.syn0.npy
model/SG/wiki-db_more50_200.syn1.npy
.vscode/settings.json
model/Evaluation/CBOW_Y_label.npy
model/Evaluation/SG_Y_label.npy
model/Evaluation/
old/__pycache__/
*.out
dataset/Wiki_data/
dataset/compound_data/full_text.txt
dataset/compound_data/compound_word_2.tsv
dataset/compound_data/English_downloaded
dataset/train_data/train_data
